#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.btn{
  background-color: rgb(93, 238, 93);
  border-color: rgb(93, 238, 93);

}
.btn:hover{
  border-color: rgb(9, 146, 9);
  background-color: rgb(39, 167, 39);
  color: white;
}

